# Image settings
image: {{ server_image_name }}
tag: latest

# SSL settings
ssl:
  city: {{ server_cert_city }}
  country: {{ server_cert_country }}
  org: {{ server_cert_o }}
  ou: {{ server_cert_ou }}
  password: {{ server_cert_pass }}
  state: {{ server_cert_state }}

# Organization name
organization: {{ server_org_name }}

# Email address sending the notifications
emailFrom: {{ server_mail }}

# Administrators account details
admin:
  password: {{ server_org_password }}
  login: {{ server_org_login }}
  firstName: {{ server_org_first_name }}
  lastName: {{ server_org_last_name }}
  email: {{ server_org_mail }}
