# Image settings
image: {{ uyuni_image_name }}
tag: latest

# SSL settings
ssl:
  city: {{ uyuni_cert_city }}
  country: {{ uyuni_cert_country }}
  org: {{ uyuni_cert_o }}
  ou: {{ uyuni_cert_ou }}
  password: {{ uyuni_cert_pass }}
  state: {{ uyuni_cert_state }}

# Organization name
organization: {{ uyuni_org_name }}

# Email address sending the notifications
emailFrom: {{ uyuni_mail }}

# Administrators account details
admin:
  password: {{ uyuni_org_password }}
  login: {{ uyuni_org_login }}
  firstName: {{ uyuni_org_first_name }}
  lastName: {{ uyuni_org_last_name }}
  email: {{ uyuni_org_mail }}
