---
# check hardware requirements
uyuni_check_requirements: true

# required core packages
uyuni_core_packages:
  - man
  - firewalld

uyuni_packages:
  - spacewalk-utils
  - spacecmd

uyuni_suma_release: 4.3

uyuni_scc_url: https://scc.suse.com
uyuni_scc_check_registration: true
uyuni_scc_check_modules: true

# Uyuni configuration
uyuni_mail: "root@localhost"
uyuni_db_name: "uyuni"
uyuni_db_user: "uyuni"
uyuni_db_pass: "Uyuni1337"
uyuni_cert_city: "Darmstadt"
uyuni_cert_country: "DE"
uyuni_cert_mail: "root@localhost"
uyuni_cert_o: "Darmstadt"
uyuni_cert_ou: "Darmstadt"
uyuni_cert_state: "Hessen"
uyuni_cert_pass: "uyuni"
uyuni_org_name: "Demo"
uyuni_org_login: "admin"
uyuni_org_password: "admin"
uyuni_org_mail: "root@localhost"
uyuni_org_first_name: "Anton"
uyuni_org_last_name: "Administrator"

# additional settings
uyuni_use_repo: true

# firewall settings
uyuni_firewall_config: true
uyuni_firewall_default_zone: internal
uyuni_firewall_services:
  - suse-manager-server
uyuni_firewall_ports: []
uyuni_firewall_ports_monitoring:
  - 5556/tcp
  - 5557/tcp
  - 9100/tcp
  - 9187/tcp
  - 9800/tcp

# content settings
uyuni_channels: []
# create dict items like this:
# - {"name": "centos7", "arch": "x86_64"}
# - {"name": "centos7-updates", "arch": "x86_64"}
uyuni_sync_channels: false
uyuni_bootstrap_repos: false

# monitoring settings
uyuni_enable_monitoring: false
