---
- name: Ensure having 15 SP5 release
  ansible.builtin.fail:
    msg: "Please ensure having SP5"
  when:
    - uyuni_release is defined
    - "ansible_distribution_version != '15.5'"
    - "uyuni_release is version('2023.09', '>=')"

- name: Ensure having 15 SP4 release
  ansible.builtin.fail:
    msg: "Please ensure having SP4"
  when:
    - "ansible_distribution_version != '15.4'"
    - "uyuni_release is version('2023.04', '>=')"
    - "uyuni_release is version('2022.06', '<')"

- name: Ensure having 15 SP3 release
  ansible.builtin.fail:
    msg: "Please ensure having SP3"
  when:
    - uyuni_release is defined
    - "ansible_distribution_version != '15.3'"
    - "uyuni_release is version('2021.06', '>=')"
    - "uyuni_release is version('2022.06', '<')"

- name: Ensure having 15 SP2 release
  ansible.builtin.fail:
    msg: "Please ensure having SP2"
  when:
    - uyuni_release is defined
    - "ansible_distribution_version != '15.2'"
    - "uyuni_release is version('2020.07', '>=')"
    - "uyuni_release is version('2021.06', '<')"
