---
- name: Ensure having proper architecture
  ansible.builtin.fail:
    msg: "SUSE MLM only supports x86_64, aarch64, ppc64l and s390x"
  when:
    - ansible_architecture not in ['x86_64', 'aarch64', 'ppc64l', 's390x']

- name: Ensure having SUSE MLM release equal/greater than 5.0
  ansible.builtin.fail:
    msg: "SUSE MLM releases older than 5.0 are unsupported - use an older version of this collection"
  when:
    - uyuni_suma_release is defined
    - "uyuni_suma_release is version('5.0', '<')"

- name: Ensure having supported SP release for SUSE MLM 5.1
  ansible.builtin.fail:
    msg: "Please upgrade to SLES 15 SP7"
  when:
    - uyuni_suma_release == 5.1
    - ansible_distribution_version != '15.7'

- name: Ensure having supported SP release for SUMA 5.0
  ansible.builtin.fail:
    msg: "SLES 15 is not supported for SUMA 5.0"
  when:
    - uyuni_suma_release == 5.0
