---
- name: Check system registration
  ansible.builtin.command: SUSEConnect --status
  changed_when: false
  register: scc_registration
  when: server_scc_check_registration or server_scc_check_modules
  become: true

- name: Register system
  ansible.builtin.command: "transactional-update --continue register --url {{ server_scc_url }} -r {{ server_scc_reg_code_os | upper }} -e {{ server_scc_mail }}"
  when:
    - server_scc_check_registration
    - server_scc_reg_code_os
    - 'scc_registration.stdout | from_json | json_query(query_filter) | join | lower != "registered"'
  vars:
    query_filter: "[?identifier == 'SLE-Micro'].status"
  notify: Reboot system (if immutable)
  become: true

- name: Register MLM
  ansible.builtin.command: "transactional-update --continue register --url {{ server_scc_url }} -p SUSE-Manager-Server/{{ server_suma_release }}/{{ ansible_architecture }} -r {{ server_scc_reg_code_mlm | upper }} -e {{ server_scc_mail }}"
  when:
    - server_scc_check_registration
    - 'scc_registration.stdout | from_json | json_query(query_filter) | join | lower != "registered"'
  vars:
    query_filter: "[?identifier == 'SUSE-Manager-Server'].status"
  notify: Reboot system (if immutable)
  become: true

- name: Enable modules
  ansible.builtin.command: "transactional-update --continue register --url {{ server_scc_url }} -p {{ item.identifier }}"
  loop: "{{ server_suma_modules }}"
  when:
    - server_scc_check_modules
    - 'scc_registration.stdout | from_json | json_query(query_filter) | join | lower != "registered"'
  vars:
    query_filter: "[?identifier == '{{ item.search }}'].status"
  notify: Reboot system (if immutable)
  become: true

- name: Set default image name
  ansible.builtin.set_fact:
    server_image_name: registry.suse.com/suse/manager/5.0/{{ ansible_architecture }}/server
  when: server_suma_release is not defined

- name: Set default image name (release-specific)
  ansible.builtin.set_fact:
    server_image_name: registry.suse.com/suse/manager/{{ server_suma_release }}/{{ ansible_architecture }}/server
  when: server_suma_release is defined

- name: Trigger reboot (if necessary)
  ansible.builtin.meta: flush_handlers
