---
- name: Add GPG key
  ansible.builtin.rpm_key:
    key: "{{ item }}"
  loop: "{{ server_gpg }}"
  become: true

- name: Add Uyuni repositories
  community.general.zypper_repository:
    repo: "{{ item.url }}"
    name: "{{ item.name }}"
  loop: "{{ server_repos }}"
  become: true

- name: Set default image name
  ansible.builtin.set_fact:
    server_image_name: registry.opensuse.org/uyuni/server
  when: server_release is not defined

- name: Set default image name (release-specific)
  ansible.builtin.set_fact:
    server_image_name: "registry.opensuse.org/uyuni/server:{{ server_release }}"
  when: server_release is defined
