---
dependency:
  name: galaxy
driver:
  name: vagrant
lint: |
    yamllint .
    ansible-lint
    flake8
platforms:
  - name: suma4
    box: sles15-sp4
    cpus: 4
    memory: 8192
provisioner:
  name: ansible
verifier:
  name: testinfra
