---
- name: Stop services
  ansible.builtin.service:
    name: "{{ uyuni_minion_service }}"
    state: stopped
    enabled: false
  register: service_stop
  failed_when:
    - service_stop.failed
    - "'not find' not in service_stop.msg"
  become: true

- name: Remove packages
  ansible.builtin.package:
    name: "{{ client_packages }}"
    state: absent
  become: true

- name: Remove directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  become: true
  loop: "{{ client_directories }}"
